[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/Grumbel/logmich.git
[submodule "external/googletest"]
	path = external/googletest
	url = http://git.chromium.org/external/googletest.git
