[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/Grumbel/logmich.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://chromium.googlesource.com/external/googletest
