[submodule "external/logmich"]
	path = external/logmich
	url = https://gitlab.com/logmich/logmich.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = https://gitlab.com/grumbel/cmake-modules.git
